footer {
    padding: 20px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.644);
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.button-home {
    background-color: #075E54;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    transition: opacity 0.4s;
}

.button-home:hover{
    opacity: 0.8;
}
footer p {
    margin-bottom: 5px;
}