.alert{
    max-width: 500px;
    width: 100%;
    height: max-content;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

.alert-error{
    background-color: rgba(255, 0, 0, 0.393);
}
.alert-success{
    background-color: #a0e0a0;
}