@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    background-color: lightgray;
}

/* Cabeçalho */
header{
    display: flex;
    gap: 20px;
    padding: 10px 30px;
    height: 62px;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.495);
}
header a{
    color: white;
}

header form{
    display: flex;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}

header form .psq{
    border-radius: 10px 0px 0px 10px;
    flex: 1;
    outline: 0px;
    padding: 8px;
}

header form .btn{
    border-radius: 0px 10px 10px 0px;
    padding: 8px;
}

/* Botões de controle */
header .button-menu { 
    cursor: pointer;
    min-width: 32px;
    height: 32px;
    background-color: transparent;
}

header .button-menu img {
    width: 100%;
    height: 100%;
}

/* Barra de navegação lateral*/
#nav-side {
    position: fixed;
    top: 0px;
    z-index: 2;

    color: white;
    background-color: #11111d;
    
    /* width: 170px; */
    height: 100vh;
    padding: 20px 10px;

    font-size: 1.2em;
    border-right: 1px solid black;

    /* Esconde a barra de navegação */
    transform: translateX(-100%);
    transition: 1s;
}
/* Mostra a barra de navegação */
#nav-side.activate {
    transform: translateX(0px);
}

#nav-side .button-menu {
    position: absolute;
    top: 0px;
    right: 5px;
}

#nav-side h1 {
    font-size: 1.5em;
    text-align: center;
    padding: 0px 20px;
}

#nav-side .card-perfil {
    text-align: center;
    font-size: 0.7em;
    margin-bottom: 5px;
}

#nav-side .card-perfil img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: gray;
}

#nav-side hr {
    height: 1px;
    background-color: white;
    margin-bottom: 20px;
}

#nav-side ul {
    list-style-type: none;
}

#nav-side ul li a {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    list-style-type: none;
    font-size: 0.8em;
    color: white;
}

#nav-side ul li a:hover {
    background-color: white;
    color: black;
}

#nav-side ul li img {
    width: 20px;
}

/* Main  */
main{
    background-color: lightgray;
    min-height: calc(100vh - 102px);
    padding: 10px;
}
.alert{
    max-width: 500px;
    width: 100%;
    height: max-content;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

.alert-error{
    background-color: rgba(255, 0, 0, 0.393);
}
.alert-success{
    background-color: #a0e0a0;
}

/* Roda-Pé */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #333;
    color: white;
    text-align: center;
}

footer a{
    color: inherit;
    font-weight: 600;
    text-decoration: underline;
}

@media screen and (max-width:650px) {
    header{
        justify-content: center;
        flex-wrap: wrap;
        height: 116px;
    }
    
    header h1 {
        font-size: 1.5em;
    }

    main {
        min-height: calc(100vh - 156px);
    }

    header .button-menu {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 42px;
        height: 42px;
        scale: 0.7;
    }
}