* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    flex-direction: column;
    background: black url('/img/background.png') repeat fixed;
    background-size: 200px;
}

header {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    padding: 15px 20px;
    font-size: 20px;
    flex: 1;
    cursor: pointer;
}

header a img {
    margin: 15px 20px;
    width: 20px;

}

main {
  flex: auto;
}
