<link rel="stylesheet" href="/css/admin/form.css">



<div class="form-body">
    <h2>Produto</h2>
    <form action="/admin/produto/add" method="post" enctype="multipart/form-data">
        <label class="form-file" id="form-file" for="foto">Foto</label>
        <input class="form-file-hidden" type="file" name="foto" id="foto" required>
        <input class="form-input" type="text" name="nome" id="nome" placeholder="Nome" required>
        <input class="form-input" type="number" step="0.01" min="0" name="preco" id="preco" placeholder="Preco" required>
        <input class="form-input" type="text" name="link" id="link" placeholder="Link">
        <input class="form-submit" type="submit" value="Cadastrar">
        <input class="form-submit" onclick="location.href='/admin'" type="button" value="Voltar">
    </form>
</div>

<script defer>
    const fileInput = document.getElementById('foto')
    const form_input = document.getElementById('form-file')

    fileInput.addEventListener('change', ()=>{
        if(fileInput.files.length > 0) {
            form_input.classList.add('active')
            form_input.innerText = fileInput.files[0].name
        } else {
            form_input.classList.remove('active')
            form_input.innerText = "Foto"
        }
    })
</script>