<link rel="stylesheet" href="/css/admin/form.css">

<div class="form-body">
    <h2>Cadastrar</h2>
    <form action="/admin/cadastrar" method="post">
        <input class="form-input" type="text" name="nome" id="nome" placeholder="Nome">
        <input class="form-input" type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome">
        <input class="form-input" type="text" name="email" id="email" placeholder="E-mail">
        <input class="form-input" type="text" name="telefone" id="telefone" placeholder="(00) 00000-0000" maxlength="15" oninput="mascaraTelefone(this)" required>
        <input class="form-input" type="password" name="senha" id="senha" placeholder="Senha">
        <input class="form-input" type="password" name="senha2" id="senha2" placeholder="Confirme a Senha">
        <input class="form-submit" type="submit" value="Cadastrar">
        <input class="form-submit" onclick="location.href='/admin'" type="button" value="Voltar">
    </form>
</div>

<script src="/js/scripts.js"></script>