.form-body{
    margin:auto;
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    border-radius: 10px;
    background-color: #333;
    height: max-content;
    padding: 10px;
    margin-bottom: 10px;
}

h2{
    color:white;
    text-align:center;
    margin-bottom: 10px;
}

main form{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;

    height: max-content;

    padding: 10px;
    border-radius: inherit;
    background-color: white;
}
.div-select{
    display: flex;
    flex: auto;
}

.div-select input{
    width: min-content;
}

.form-input{
    width: 100%;
    padding: 10px;
    outline: 0px;
    border-radius: inherit;
}

.form-file-hidden{
    display: none;
}

.form-file{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    opacity: 0.7;
}
#form-file.active {
    background-color: #a0e0a0; /* Cor ao selecionar um arquivo */
}

.form-submit{
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    opacity: 0.7;
}

.form-input:defined{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 1px solid black;
}

.form-submit:hover, .form-file:hover{
    opacity: 1;
}

.danger{
    background-color: rgba(255, 0, 0, 0.789);
}
