<link rel="stylesheet" href="/css/admin/form.css">



<div class="form-body">
    <h2>Produto: {{produto.nome}}</h2>
    <form action="/admin/produto/confirmDel" method="post">
        <p>Tem certeza que deseja deletar??</p>
        <input type="hidden" name="id" value="{{produto.id}}">
        <input class="form-submit danger"  type="submit" value="Deletar">
        <input class="form-submit" onclick="location.href='/admin'" type="button" value="Voltar">
    </form>
</div>