<link rel="stylesheet" href="/css/admin/form.css">


<div class="form-body">
    <h2>Login</h2>
    <form action="/login" method="post">
        <input class="form-input" type="text" name="email" id="email" placeholder="E-mail">
        <input class="form-input" type="password" name="senha" id="senha" placeholder="Senha">
        <input class="form-submit" type="submit" value="Logar">
    </form>
</div>