<link rel="stylesheet" href="/css/admin/painel.css">


<div class="container">

<div class="search-bar">
    <input type="text" id="searchInput" placeholder="ðŸ” Pesquisar produto...">
</div>
<section class="tabela-rolagem">
  <table id="tabela-catalogos">
      <thead>
      <tr>
          <th>Catalogo</th>
          <th>Status</th>
      </tr>
      </thead>
      <tbody>

        {{#each catalogo}}
          <tr onclick="location.href = '/admin/edit/{{nomeCatalogo}}'">
              <td>{{nomeCatalogo}}</td>
              <td class="pq">{{status}}</td>
          </tr>
        {{/each}}

      </tbody>
  </table>
</section>
</div>

<script>
    // Filtro de pesquisa
    document.getElementById("searchInput").addEventListener("input", function () {
      const filtro = this.value.toLowerCase();
      const linhas = document.querySelectorAll("#tabela-catalogos tbody tr");

      linhas.forEach(linha => {
        const nome = linha.querySelector("td").textContent.toLowerCase();
        linha.style.display = nome.includes(filtro) ? "" : "none";
      });
    });
</script>