.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.tabela-rolagem {
    max-height: calc(100vh - 330px);
    min-height: calc(100vh - 330px);
    overflow: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 5px #ccc;
    border: 1px solid black;
}

th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px;
    position: sticky;
    top: 0px;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
}

td:nth-child(odd) {
    width: 80px;
    height: 80px;
}

td img {
    width: 100%;
    border-radius: 5px;
}

th {
    background-color: #eee;
}

tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

.btn-compartilhar {
    background-color: #25d366;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.btn-compartilhar:hover {
    background-color: #1ebe5d;
}
