<link rel="stylesheet" href="/css/home/home.css">

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<h1 class="titulo">Escolha o seu Plano</h1>

<div class="planos">
    <div class="plano">
        <h2>Plano Mensal</h2>
        <p class="preco">R$ 49,90/mês</p>
        <ul class="beneficios">
            <li>Painel Administrativo</li>
            <li>Gerenciamento dos seus Produtos</li>
            <li>Redirecionamento para o Whatsapp ou Link Especifico</li>
            <li>Suporte via WhatsApp</li>
        </ul>
        <a class="botao" href="https://wa.me/5562992749698?text=Quero%20assinar%20o%20Plano%20Mensal!">Quero esse</a>
    </div>

    <div class="plano">
        <h2>Plano Trimestral</h2>
        <p class="preco">R$ 119,90/3meses</p>
        <ul class="beneficios">
            <li>Painel Administrativo</li>
            <li>Gerenciamento dos seus Produtos</li>
            <li>Redirecionamento para o Whatsapp ou Link Especifico</li>
            <li>Suporte via WhatsApp</li>
        </ul>
        <a class="botao" href="https://wa.me/5562992749698?text=Quero%20assinar%20o%20Plano%20Trimestral!">Quero esse</a>
    </div>

    <div class="plano">
        <h2>Plano Anual</h2>
        <p class="preco">R$ 419,90/12meses</p>
        <ul class="beneficios">
            <li>Painel Administrativo</li>
            <li>Gerenciamento dos seus Produtos</li>
            <li>Redirecionamento para o Whatsapp ou Link Especifico</li>
            <li>Suporte via WhatsApp</li>
        </ul>
        <a class="botao" href="https://wa.me/5562992749698?text=Quero%20assinar%20o%20Plano%20Anual!">Quero esse</a>
    </div>
</div>

