<link rel="stylesheet" href="/css/home/index.css">

<section class="benefits">
    <h2>Benefícios</h2>
    <ul>
        <li>Catálogo online com link próprio ex: <br> <a href="https://revendedora.xyz/ComprasComMoni">revendedoras.xyz/ComprasComMoni</a></li>
        <li>Adicione produtos com foto, nome e preço e Link(opcional)</li>
        <li>Redireciona diretamente para o seu Whatsapp</li>
        <li>Fácil de usar e funciona no celular</li>
    </ul>
</section>

<section class="plans">
    <h2>Planos de Assinatura</h2>
    <div class="plan">
        <h3>Mensal - R$ 49,90/mês</h3>
        <p>Produtos ilimitados + suporte via Whatsapp</p>
    </div>
    <div class="plan">
        <h3>Trimestral - R$ 119,90/3mêses</h3>
        <p>Produtos ilimitados + suporte via Whatsapp</p>
    </div>
    <div class="plan">
        <h3>Anual - R$ 419,90/Ano</h3>
        <p>Produtos ilimitados + suporte via Whatsapp</p>
    </div>

    <button onclick="location.href = '/registrar'">Eu Quero!</button>
</section>