<link rel="stylesheet" href="/css/home/form.css">

<section>
    <h2>Criar Conta</h2>
    <form action="/registrar" method="POST">
        
        <input type="nome" name="nome" placeholder="Nome" required>
        <input type="sobrenome" name="sobrenome" placeholder="Sobrenome" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <input type="password" name="senha2" placeholder="Confirme a Senha" required>
        <button type="submit">Cadastrar</button>
    </form>
</section>