<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Painel da Revendedora</title>
  <link rel="stylesheet" href="/css/layouts/admin.css">
</head>
<body>
    <header>
    <h1 onclick="location.href = '/admin'">Painel Admin</h1>
    <a href="/logout"><img src="/img/logout.png" alt="logout"></a>
    </header>
        {{>_message}}
    <main>
        {{{body}}}
    </main>
    {{>_footer}}
</body>
</html>
