<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catálogo para Revendedoras</title>
  <link rel="stylesheet" href="/css/layouts/main.css">
</head>
<body>
  <header>
    <h1>Seu Catálogo, Sua Cara!</h1>
    <p>Já pensou em ter o seu próprio catálogo digital?</p>
    <a href="/" class="btn">Home</a>
    <a href="/registrar" class="btn">Criar Conta</a>
    <a href="/login" class="btn">Entrar</a>
  </header>
  {{>_message}}
<main>
  {{{body}}}
</main>

{{>_footer}}
</body>
</html>