<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catálogo para Revendedoras</title>
  <link rel="stylesheet" href="/css/layouts/main.css">
</head>
<body>
<header>
  <h1>Catalogo</h1>

  <nav>
    <a href="/registrar" class="btn">Registrar</a>
    <a href="/login" class="btn">Login</a>
  </nav>
</header>
  {{>_message}}
<main>
  {{{body}}}
</main>

{{>_footer}}
</body>
</html>